<div class="container">

	{{> home_nav}}

	{{> messages}}
	{{> errors}}
	
	<div class="jumbotron text-center">
		
		<h1 class="display-4 mine-scale">International trade tools made easy.</h1>

		<p class="lead">
			Bordermine bridges the gap between exporters, shippers, brokers, 
			and importers that everyone stays on
			the same page!
		</p>

	</div>

	{{> footer}}
	
</div>