<div class="container">

	{{> home_nav}}

	{{> messages}}
	{{> errors}}
	
	<div class="jumbotron text-center">
		
		<h1 class="display-4">Classroom management made easy -- er.</h1>

		<p class="lead">
			Classmine is for everyone involved in education and bridges the
			gap between students, parents, and teachers, so that everyone stays on
			the same page!
		</p>

	</div>

	{{> footer}}
	
</div>