<div class="container">

  {{> home_nav }}

  {{> messages}}
  {{> errors }}
  
  {{#is for "password"}}
    <h1 class="pl-4 py-2 title-heading">Reset Password</h1>
  {{else}}
    <h1 class="pl-4 py-2 title-heading">Resend Activation Link</h1>
  {{/is}}
  
  <div class="px-4">
    <form class="needs-validation" novalidate action="/email/{{for}}" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" class="form-control" type="email" name="email" placeholder="Enter email"  autocomplete="username email" value="{{fields.email}}" required>
        <div class="invalid-feedback">Please provide a valid email address.</div>
      </div>
      <div class="form-row">
        <div class="col-auto mr-auto" style="margin-bottom:15px">
          <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button> 
          <button class="btn btn-primary cm-hidden" id="spinner" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Submitting...
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-secondary" onclick="location.href='/login'">Login</button>
          <button type="button" class="btn btn-outline-secondary" onclick="location.href='/join'">Join {{hostName host}}</button>
        </div>
      </div>
    </form>
  </div>

  {{> footer}}

</div>