<div class="container">

	{{> home_nav}}

	{{> messages}}
	{{> errors}}
	
	<div class="jumbotron text-center" style="padding-top: 10px">
		
	<img src="/assets/images/home_logo.jpg">
			
	<h1 class="display-4">Tools for international trade.</h1>

		<p class="lead">
			Bordermine bridges the gap between you and customs.
		</p>

		<p class="lead">
			<a class="btn btn-primary btn-lg" id="btnJoin" href="/join" role="button">Join Bordermine</a>
		</p>
	</div>

	{{> footer}}
	
</div>