<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{siteTitle}} | {{pageTitle}}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/jquery.min.js"></script>
  <link rel='stylesheet' href="/assets/fontawesome/css/all.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/site.css">

  {{> favicons }}
</head>

<body>
  
  {{{body}}}

	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  <script src="/js/site.js"></script>
</body>

</html>