<div class="container view-domain">
  
	{{> domain_nav}}

	{{> messages}}
	
	{{> errors}}
 
	<div class="jumbotron text-center">
		<h1 class="display-4">Your district homepage here</h1>
		<p class="lead">
			<a href="http://www.classmine.com">Enquire within</a> for more info on hosting your district site on classmine!
		</p>
  </div>

	{{> footer}}
	
</div>