<footer class="footer">
	<div class="container">
		<p class="text-muted text-center">Copyright &copy; <a href="{{copyrightUrl}}">{{siteTitle}}.com</a> 2019.<br> All rights reserved.</p>
	</div>
</footer>
