<div class="row">
  <div class="col">
    <h1>This is your dashboard speaking:</h1>
    <div class="dashboard-instructions">
    {{#unless clients}} 
      <p>Before you do anything, you should add or import some <a href="{{user.editPath}}/client">clients.</a></p>
    {{/unless}}
    </div>
  </div>
</div>

