<div class="row">
  <div class="col">
    <h1>This is your dashboard speaking:</h1>
    <div class="dashboard-instructions">
    {{#unless courses}} 
      <p>Before you do anything, you should create a <a href="{{user.editPath}}/course">new course.</a></p>
    {{/unless}}
    </div>
  </div>
</div>

