<div class="container">

	{{> user_nav}}

	{{> messages}}
	{{> errors}}
	
	<div class="jumbotron text-center">
		<h1 class="display-4">Ooops!</h1>
		<p>It appears you've reached this page by mistake. 
			Please try <a href="/login">another</a>.</p>
	{{> footer}}
	
</div>