.main {
  margin-top: 70px;
}

.mine-dashbar-top .icon, .mine-dashbar-top .fa-icon {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.mine-dashbar-top .nav-link {
  padding-top: 3px;
}

.mine-dashbar-side .icon {
  fill: white;
}

.mine-dashbar-side .icon, .mine-dashbar-side .fa-icon {
  width: 20px;
  margin-left: 0px;
  margin-right: 3px;
}

.mine-dashbar-side .mine-menu-item {
  margin-left: 10px;
}

.mine-dashbar-side .mine-menu-item-text {
  margin-left: 5px;
}

.mine-dashbar-side a.nav-link {
  font-size: 14pt;
  color: white;
}

.mine-dashbar-side .sub-menu a.nav-link {
  padding: 3px 15px 5px 15px;
}

#btnCollapse {
  float: right;
}

#btnExpand {
  float: right;
  margin-left: 0px;
}